// app global css
html,
body
  height: 100%;

body
  background-color #F2F2F2;

@font-face
  font-family Shartoll
  src url(themes/fonts/Shartoll-Light.otf)

.bg-cc-dark-light
  background-color #293444